In [9]:
import sys 
sys.path.append('..')
from data.arima_garch_rf_model import arima_garch_rf_model
from data.indices import  convert_return_to_price

In [2]:
sector = 'S&P 500'

ind_start='01/01/2000'
ind_end='01/04/2022'

tr_end = '01/12/2010'
start1 ='01/01/2020'

In [3]:
AGR_model = arima_garch_rf_model(sector,ind_start,tr_end,start1,ind_end)

In [4]:
# all indicators that the model can support 
# Note you can add and delete indicators depending on your needs 
AGR_model.series

{'Manufacturing employement': 'MANEMP',
 'Unemployement rate': 'UNRATE',
 'Consumer Sentiment': 'UMCSENT',
 'Auto Sales': 'TOTALNSA',
 'CPI Urban': 'CPIAUCNS',
 'Employement rate': 'LREM64TTUSM156N',
 'Auto Production': 'G17MVSFAUTOS',
 'CPI Oil': 'CUUR0000SEHE',
 'CPI Less Food & Energy': 'CPILFENS',
 'Effr': 'EFFR',
 'M1': 'M1NS',
 'M2': 'M2NS',
 'M3': 'MABMM301USM189S',
 'Mortgage rate 30': 'MORTGAGE30US',
 'Mortgage rate 15': 'MORTGAGE30US',
 'Home price': 'CSUSHPISA',
 'House start': 'HOUSTNSA',
 '10-2 years rate': 'T10Y2Y',
 'Deposits': 'DPSACBM027NBOG',
 'Industrial Production': 'INDPRO',
 'PMI Manufacturing': 'PCUOMFGOMFG'}

In [5]:
# get return predection of the indice using the model arila_garch
adj_prediction = AGR_model.arima_garch_model()
adj_prediction

Iteration:      1,   Func. Count:      6,   Neg. LLF: 600.7037281308284
Iteration:      2,   Func. Count:     12,   Neg. LLF: 457.6042641835659
Iteration:      3,   Func. Count:     19,   Neg. LLF: 379.3610043985657
Iteration:      4,   Func. Count:     25,   Neg. LLF: 374.74569598534845
Iteration:      5,   Func. Count:     30,   Neg. LLF: 507.8856998634582
Iteration:      6,   Func. Count:     37,   Neg. LLF: 374.7408853656192
Iteration:      7,   Func. Count:     42,   Neg. LLF: 374.7403977871014
Iteration:      8,   Func. Count:     47,   Neg. LLF: 374.7403971384231
Optimization terminated successfully    (Exit mode 0)
            Current function value: 374.7403971384231
            Iterations: 8
            Function evaluations: 47
            Gradient evaluations: 8
Iteration:      1,   Func. Count:      6,   Neg. LLF: 600.7037281308284
Iteration:      2,   Func. Count:     12,   Neg. LLF: 457.6042641835659
Iteration:      3,   Func. Count:     19,   Neg. LLF: 379.3610043985657
Iteration:      4,   Func. Count:     25,   Neg. LLF: 374.74569598534845
Iteration:      5,   Func. Count:     30,   Neg. LLF: 507.8856998634582
Iteration:      6,   Func. Count:     37,   Neg. LLF: 374.7408853656192
Iteration:      7,   Func. Count:     42,   Neg. LLF: 374.7403977871014
Iteration:      8,   Func. Count:     47,   Neg. LLF: 374.7403971384231
Optimization terminated successfully    (Exit mode 0)
            Current function value: 374.7403971384231
            Iterations: 8
            Function evaluations: 47
            Gradient evaluations: 8

Date
2000-02-01   -3.703296
2000-03-01   -2.693296
2000-04-01    8.636704
2000-05-01   -3.063296
2000-06-01   -1.873296
                ...
2021-12-01   -1.664876
2022-01-01   -4.391870
2022-02-01   -4.609754
2022-03-01    4.746046
2022-04-01    0.796360
Length: 267, dtype: float64

In [5]:
# get the list of all indicators that have an impact on the selected sector.
indicators = AGR_model.important_indicators()
indicators

Iteration:      1,   Func. Count:      6,   Neg. LLF: 600.7037281308284
Iteration:      2,   Func. Count:     12,   Neg. LLF: 457.6042641835659
Iteration:      3,   Func. Count:     19,   Neg. LLF: 379.3610043985657
Iteration:      4,   Func. Count:     25,   Neg. LLF: 374.74569598534845
Iteration:      5,   Func. Count:     30,   Neg. LLF: 507.8856998634582
Iteration:      6,   Func. Count:     37,   Neg. LLF: 374.7408853656192
Iteration:      7,   Func. Count:     42,   Neg. LLF: 374.7403977871014
Iteration:      8,   Func. Count:     47,   Neg. LLF: 374.7403971384231
Optimization terminated successfully    (Exit mode 0)
            Current function value: 374.7403971384231
            Iterations: 8
            Function evaluations: 47
            Gradient evaluations: 8
Iteration:      1,   Func. Count:      6,   Neg. LLF: 600.7037281308284
Iteration:      2,   Func. Count:     12,   Neg. LLF: 457.6042641835659
Iteration:      3,   Func. Count:     19,   Neg. LLF: 379.3610043985657
Iteration:      4,   Func. Count:     25,   Neg. LLF: 374.74569598534845
Iteration:      5,   Func. Count:     30,   Neg. LLF: 507.8856998634582
Iteration:      6,   Func. Count:     37,   Neg. LLF: 374.7408853656192
Iteration:      7,   Func. Count:     42,   Neg. LLF: 374.7403977871014
Iteration:      8,   Func. Count:     47,   Neg. LLF: 374.7403971384231
Optimization terminated successfully    (Exit mode 0)
            Current function value: 374.7403971384231
            Iterations: 8
            Function evaluations: 47
            Gradient evaluations: 8

,Unemployement rate,CPI Oil,Mortgage rate 30,Mortgage rate 15,House start,PMI Manufacturing
2000-02-01,2.500000,28.671329,1.226994,1.226994,15.096154,1.070336
2000-03-01,-2.439024,-11.616848,0.242424,0.242424,11.445280,0.529501
2000-04-01,-5.000000,-4.919293,-0.846433,-0.846433,12.068966,-0.225734
2000-05-01,5.263158,-1.697656,0.975610,0.975610,2.274247,0.377074
2000-06-01,0.000000,-0.575658,3.140097,3.140097,-4.316547,0.826446
...,...,...,...,...,...,...
2021-12-01,-7.142857,-0.713038,0.647249,0.647249,-5.045872,-0.281363
2022-01-01,2.564103,5.747590,3.536977,3.536977,-2.576490,2.218837
2022-02-01,-5.000000,6.088234,10.248447,10.248447,4.214876,2.483855
2022-03-01,-5.263158,15.291407,5.915493,5.915493,13.084853,3.440747
2022-04-01,0.000000,1.193342,25.531915,25.531915,15.217391,1.776226

In [6]:
# get the adjusted prediction by combining arima, garch and random forest (a mixt between technical analysis and fundamentals)
# Note : the function return a starting point in case you want to convert the return into its real price 
adj_pred = AGR_model.adj_prediction_monthly_rf()
adj_pred

Iteration:      1,   Func. Count:      6,   Neg. LLF: 600.7037281308284
Iteration:      2,   Func. Count:     12,   Neg. LLF: 457.6042641835659
Iteration:      3,   Func. Count:     19,   Neg. LLF: 379.3610043985657
Iteration:      4,   Func. Count:     25,   Neg. LLF: 374.74569598534845
Iteration:      5,   Func. Count:     30,   Neg. LLF: 507.8856998634582
Iteration:      6,   Func. Count:     37,   Neg. LLF: 374.7408853656192
Iteration:      7,   Func. Count:     42,   Neg. LLF: 374.7403977871014
Iteration:      8,   Func. Count:     47,   Neg. LLF: 374.7403971384231
Optimization terminated successfully    (Exit mode 0)
            Current function value: 374.7403971384231
            Iterations: 8
            Function evaluations: 47
            Gradient evaluations: 8
Iteration:      1,   Func. Count:      6,   Neg. LLF: 600.7037281308284
Iteration:      2,   Func. Count:     12,   Neg. LLF: 457.6042641835659
Iteration:      3,   Func. Count:     19,   Neg. LLF: 379.3610043985657
Iteration:      4,   Func. Count:     25,   Neg. LLF: 374.74569598534845
Iteration:      5,   Func. Count:     30,   Neg. LLF: 507.8856998634582
Iteration:      6,   Func. Count:     37,   Neg. LLF: 374.7408853656192
Iteration:      7,   Func. Count:     42,   Neg. LLF: 374.7403977871014
Iteration:      8,   Func. Count:     47,   Neg. LLF: 374.7403971384231
Optimization terminated successfully    (Exit mode 0)
            Current function value: 374.7403971384231
            Iterations: 8
            Function evaluations: 47
            Gradient evaluations: 8

(            final_pred
 date
 2000-02-01   -3.703296
 2000-03-01   -2.693296
 2000-04-01    8.636704
 2000-05-01   -3.063296
 2000-06-01   -1.873296
 ...                ...
 2021-12-01   -3.859485
 2022-01-01   -3.497240
 2022-02-01   -3.285551
 2022-03-01    7.286781
 2022-04-01    3.178370

 [267 rows x 1 columns],
 S&P 500    3248.92
 Name: 2020-02-01 00:00:00, dtype: float64)

In [15]:
# convert Return to its real price
predicted_price = convert_return_to_price(adj_pred[1][0],adj_pred[0])
predicted_price

             prediction
date
2000-02-01  3128.602874
2000-03-01  3044.340336
2000-04-01  3307.270998
2000-05-01  3205.959497
2000-06-01  3145.902384
...                 ...
2021-12-01  1617.431425
2022-01-01  1560.865959
2022-02-01  1509.582907
2022-03-01  1619.582901
2022-04-01  1671.059232

[267 rows x 1 columns]