In [1]:
import sys 
sys.path.append('..')
from data.indices import get_daily_close, get_monthly_returns, get_daily_returns

In [2]:
get_monthly_returns(names=['NASDAQ', 'S&P 500'], start='01/01/2022', end='01/07/2022')

            NASDAQ  S&P 500
Date
2022-02-01   -9.39    -5.21
2022-03-01   -5.67    -5.28
2022-04-01    5.39     5.56
2022-05-02  -12.10    -8.59
2022-06-01   -4.32    -1.30
2022-07-01   -7.23    -6.73